<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="font.css">
    <title>API DIAS FESTIVOS</title>
</head>
<body>

    <div class="divImagenMapaColombia">
        <img id="imagenMapaColombia" src="../../../assets/MapaColombia.jpg" alt="MapaColombia">
    </div>

    <div class="boxH1">
        <h1 class="tituloAPI">
          Dias festivos en Colombia
        </h1>
      </div>

      <p class="textoGeneral">
        Esta en una API que tiene la capacidad de mostar los dias festivos mas relevantes en Colombia, estos se pueden buscar por un año en especifico o tambien listar los festivos de forma general.
      </p>

<div class="megaDiv">  
    <div class="contenedor">
        <img class="imagenesContenedor" src="../../../assets/BuscarPorAño.png" alt="BuscarPorAño">
        <div>
            <h2>
                Buscar por año
            </h2>
            <p class="textoGeneral">
                Puedes ingresar un año en especifico y te daremos los dias en que fueron festivos para ese mismo año.
            </p>
        </div>
    </div>

    <div class="contenedor">
        <div>
            <h2>
                Listar todos
            </h2>
            <p class="textoGeneral">
                Puedes Listar todos los dias festivos mas relevantes de Colombia, basados en nuestra base de datos.
            </p>
        </div>
        <img class="imagenesContenedor" src="../../../assets/ListarFestivos.png" alt="ListarFestivos">
    </div>
</div>


    
</body>
</html>
